/* Styles for the Contact component */
.contact-container {
    text-align: center;
    padding: 40px;
    background-image: url('../../public/pexels-negative-space-33999.jpg') center/cover no-repeat;
    margin-top: 20px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .contact-info-item {
    display: flex;
    align-items: center;
    font-size: 18px;
  }
  
  i.material-icons {
    margin-right: 10px;
  }
  
  .social-media {
    margin-top: 20px;
  }
  
  .social-media a {
    font-size: 24px;
    margin: 0 10px;
    color: #333;
    text-decoration: none;
  }
  
  .contact-form {
    margin-top: 40px;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .contact-form button {
    background: #ffaa00;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .contact-form button:hover {
    background: #ffcc00;
  }