
/* Hero section styles */
.hero-section {
  background: url('../../public/pexels-lood-goosen.jpg') center/cover no-repeat;
  color: #f7f7f7;
  padding: 160px 0;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.hero-content {
  background: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 10px;
  width: 80vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-justify {
  text-align: justify;
}
