/* Styles for the ProductSlider component */
.product-slider {
  width: 80%;
  margin: 0 auto;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-card {
  text-align: center;
}

/* Custom styles for the react-slick carousel */
.slick-slider {
  width: 80%;
  max-width: 500px; /* Adjust the max-width as needed */
  margin: 0 auto;
}

.slick-slide {
  transition: transform 0.3s;
}

.slick-slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.slick-prev:before,
.slick-next:before {
  color: #333;
}